@import "tailwindcss";

.-z-6{
	opacity: 0.15;
	background-image: radial-gradient(#ffffff 2px, #00000000 2px);
	background-size: 31px 31px;
}
.-z-7{
	background: linear-gradient(-45deg, #FFD100, #BA0C2F, #00629B, #06cad8);
	background-size: 400% 400%;
	animation: bruh 15s ease infinite;
}
@keyframes bruh{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}

.bruh2{
	animation: throwinIT 1.5s ease infinite;
}
@keyframes throwinIT{
	0%, 100%{
		transform: translateY(-10%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  	}
	50%{
		transform: none;
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

.scrollFadeOut{
	animation-name: sfo;
	animation-duration: 1ms; /* Firefox requires this to apply the animation */
	animation-timeline: view(block 0% 15%);
}
@keyframes sfo{
	0%{
		opacity: 100%;
	}
	15%, 100%{
		opacity: 0%;
	}
}

/* Badass buttons */
.memberButton{
  background-color: #ffffff;
  border-radius: 8px;
  color: #00629B;
  display: flex;
  justify-content: center;
}
.memberButton span{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  width: 100%;
  height: 100%;
}
.badassButton{
	transition: all 0.1s;
	cursor: pointer;
}
.badassButton:active{
	transform: scale(0.9);
}