@import "tailwindcss";

.-z-2{
	background: linear-gradient(-45deg, #FFD100, #BA0C2F, #00629B, #06cad8);
	background-size: 400% 400%;
	animation: bruh 15s ease infinite;
}

@keyframes bruh{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}